RewriteEngine On
RewriteBase /celestial-books/

# Jika file atau direktori tidak ada
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L,QSA]

# Keamanan
Options -Indexes